.button__radial {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 320px;
  width: 320px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  z-index: 10;
  background-color: var(--black80);
  font-size: 36px;
  text-align: center;
  color: var(--primary);
}

.button__radial_bg {
  position: relative;
  height: 320px;
  width: 320px;
  border-radius: 50%;
  z-index: 5;
  background-color: var(--black80);
  border: none;
  outline: none;
}

.button__radial:active {
  background: radial-gradient(
    circle,
    var(--primary10) 0%,
    rgba(255, 255, 255, 0) 75%
  );
}
