.home {
  height: 100vh;
  background-color: var(--black80);
}

.content {
  /* height: calc(100% - 200px); footer height + header height */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  flex-direction: column;
  padding: 0 24px;
}
